<form method="post" action="">
    <div style="display: flex; align-items: center; justify-content: space-between;"><h2>Update Job </h2> <span class="caption">ID : {{formData.jobId}}</span></div>
    
    <div>
        <label>Job Name</label><br>
        <input type="text" name="jobProfile" (input)="handleChange($event)" value={{formData.jobProfile}}>
    </div>
    <div>
        <label>Skill</label><br>
        <input type="text" name="skill" (input)="handleChange($event)" value={{formData.skill}}>
    </div>
    <div>
        <label>Minimum Experience (in years)</label><br>
        <input type="number" name="exp_min" (input)="handleChange($event)" onkeydown="return !([69,107,109,110,187,189,190].includes(event.keyCode))" value={{formData.exp_min}}>
    </div>
    <div>
        <label>Maximum Experience (in years)</label><br>
        <input type="number" name="exp_max" (input)="handleChange($event)" onkeydown="return !([69,107,109,110,187,189,190].includes(event.keyCode))" value={{formData.exp_max}}>
    </div>
    <div>
        <label>Salary</label><br>
        <input type="number" name="salary" (input)="handleChange($event)" onkeydown="return !([69,107,109,110,187,189,190].includes(event.keyCode))" value={{formData.salary}}>
    </div>
    <button (click)="submitHandler(); $event.preventDefault()">Update</button>
</form>