.outer{
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 10px auto;
    width: 70%;
    border-radius: 5px;
}
.outer div{
   width: 30% !important;
    
}
.icon{
    text-align: center;
    width: 10% !important;
}
i{
    font-size: 20px;
    color: #654E92;
    cursor: pointer;
    transition-duration: 200ms;

}
i:hover{
    transform: rotate(180deg);
}